In [8]:
from core.join_operator import DataSet, joiner

In [9]:
emp_header = ["id", "name", "dept_id", "salary"]
emp_data = [
                (1,"Justin", 101, 7000000.00),
                (2,"Jacob", 102, 3000000.00),
                (3,"Jolly", 103, 2700000.00),
                (4,"Jatin", 102, 2400000.00),
                (5,"Jacky", 101, 5000000.00)
                ]

dept_header = ["dept_id", "dept_name"]
dept_data = [
                (101, "Engineering"),
                (102, "Data Science"),
                (103, "IT Operations")
                ]

emp_data_set = DataSet(emp_header, emp_data)
dept_data_set = DataSet(dept_header, dept_data)
joined_data_set = joiner(emp_data_set, dept_data_set, ["dept_id"])

emp_data_set.count()
emp_data_set.show()
dept_data_set.count()
dept_data_set.show()
joined_data_set.count()
joined_data_set.show()

5
+ | id=1  || name='Justin' || dept_id=101     || salary=7000000.0 | +
+ | id=2  || name='Jacob' || dept_id=102     || salary=3000000.0 | +
+ | id=3  || name='Jolly' || dept_id=103     || salary=2700000.0 | +
+ | id=4  || name='Jatin' || dept_id=102     || salary=2400000.0 | +
+ | id=5  || name='Jacky' || dept_id=101     || salary=5000000.0 | +

3
+ | dept_id=101     || dept_name='Engineering' | +
+ | dept_id=102     || dept_name='Data Science' | +
+ | dept_id=103     || dept_name='IT Operations' | +

5
+ | id=1  || name='Justin' || dept_id=101     || salary=7000000.0 || dept_id_=101      || dept_name_='Engineering' | +
+ | id=5  || name='Jacky' || dept_id=101     || salary=5000000.0 || dept_id_=101      || dept_name_='Engineering' | +
+ | id=2  || name='Jacob' || dept_id=102     || salary=3000000.0 || dept_id_=102      || dept_name_='Data Science' | +
+ | id=4  || name='Jatin' || dept_id=102     || salary=2400000.0 || dept_id_=102      || dept_name_='Data Science' | +
+ | id=3  || name='Jolly' || dept_id=103     || salary=2700000.0 || dept_id_=103      || dept_name_='IT Operations' | +