##### Step 1 : Import the DataSet class and the joiner method

In [28]:
from core.join_operator import DataSet, joiner

##### Step 2 : Prepare the data sets

In [29]:
emp_header = ["id", "name", "dept_id", "salary"]

emp_data = [
            (1,"Justin", 101, 7000.00),
            (2,"Jacob", 102, 3000.00),
            (3,"Jolly", 103, 3800.00),
            (4,"Jatin", 102, 4500.00),
            (5,"Jacky", 101, 5000.00)
            ]

dept_header = ["dept_id", "dept_name"]

dept_data = [
            (101, "Engineering"),
            (102, "Data Science"),
            (103, "IT Operations")
            ]

emp_data_set = DataSet(emp_header, emp_data)

dept_data_set = DataSet(dept_header, dept_data)

##### Step 3 : Verify the datasets using count and show methods

In [30]:
print("Employees count : ")
emp_data_set.count()

print("Employees data : ")
emp_data_set.show()

print("Department count :")
dept_data_set.count()
print("Department data :")
dept_data_set.show()

Employees count :
5
Employees data :
+ | id=1  || name='Justin' || dept_id=101     || salary=7000.0 | +
+ | id=2  || name='Jacob' || dept_id=102     || salary=3000.0 | +
+ | id=3  || name='Jolly' || dept_id=103     || salary=3800.0 | +
+ | id=4  || name='Jatin' || dept_id=102     || salary=4500.0 | +
+ | id=5  || name='Jacky' || dept_id=101     || salary=5000.0 | +

Department count :
3
Department data :
+ | dept_id=101     || dept_name='Engineering' | +
+ | dept_id=102     || dept_name='Data Science' | +
+ | dept_id=103     || dept_name='IT Operations' | +

##### Step 4 : Join the 2 datasets and check the outcome

In [31]:
# joining the datasets using the joiner method
joined_data_set = joiner(emp_data_set, dept_data_set, ["dept_id"])

##### Step 5 : Check the result for the joiner

In [32]:
print("Joined data count : ")
joined_data_set.count()

print("Joined data : ")
joined_data_set.show()

Joined data count :
5
Joined data :
+ | id=1  || name='Justin' || dept_id=101     || salary=7000.0 || dept_id_=101      || dept_name_='Engineering' | +
+ | id=5  || name='Jacky' || dept_id=101     || salary=5000.0 || dept_id_=101      || dept_name_='Engineering' | +
+ | id=2  || name='Jacob' || dept_id=102     || salary=3000.0 || dept_id_=102      || dept_name_='Data Science' | +
+ | id=4  || name='Jatin' || dept_id=102     || salary=4500.0 || dept_id_=102      || dept_name_='Data Science' | +
+ | id=3  || name='Jolly' || dept_id=103     || salary=3800.0 || dept_id_=103      || dept_name_='IT Operations' | +